<div class="reset-container">
    <div class="reset">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="container" *ngIf="!isLoading">
            <div class="row">
                <div class="col m6" style="margin-top:3rem">
                    <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight:bold">
                        Reset Password</h4>
                    <!-- Login Form -->
                    <form (ngSubmit)="onResetPassword(f)" #f="ngForm">
                        <div class="input-field col s12 " style="margin-left:0">
                            <i class="material-icons prefix icon">security</i>
                            <input id="password" type="password" class="validate" name="password" ngModel required minlength="5" #password="ngModel">
                            <label for="password">Enter Your Password</label>
                            <p style="font-weight:bold" *ngIf="password.invalid && (password.dirty || password.touched)">Password must be altleast 5 characters.</p>
                        </div>

                        <div class="input-field col s12 " style="margin-left:0">
                            <i class="material-icons prefix icon">security</i>
                            <input id="rpassword" type="password" class="validate" name="rpassword" ngModel required minlength="5" #rpassword="ngModel">
                            <label for="rpassword">Confirm Password</label>
                            <p style="font-weight:bold" *ngIf="rpassword.invalid && (rpassword.dirty || rpassword.touched)">Password must be altleast 5 characters.</p>
                            <p style="font-weight:bold" *ngIf="confirmPassword"> Password and Confirm Password does not match.</p>
                        </div>
                        <button class="button hoverable waves-effect " [disabled]="f.invalid">Reset</button>
                    </form>

                </div>
                <div class="col m6">

                    <img src="../../assets/reset.svg" alt="OOps" style="margin-left: 5rem;" style="margin-top:5rem" width="430px" height="400px">
                </div>
            </div>
        </div>
    </div>
</div>