<section class="pattern">
    <div class="geeks">
    </div>
</section>

<div data-aos="fade-up" data-aos-duration="3000" class="features1">
    <div class="row content">
        <div class="col m6 s12">
            <h1 style="margin-top: 7rem;margin-bottom:4rem">Used Car Price Prediction System</h1>
            <p style="margin-bottom:4rem">Used car price prediction system is Web and AI based software which can be used to predit the price of the used cars.</p>
            <button class="button hoverable waves-effect " (click)="signUp()">Get Started</button>
        </div>
        <div class="col m6 s12">
            <img src="../../assets/jeeps.svg" class="jeep" alt="OOps" style="margin-left: 5rem;">
        </div>
    </div>
</div>

<div class="features" data-aos="fade-up" data-aos-duration="3000">
    <h3 class="center-align" style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;margin-top: 0;">Features</h3>
    <p class="center-align" style="color:#323450; font-size: 19px;margin-bottom: 4rem;">Stop wasting time in estimating price of the used car.
        <br>Use NgCars to predict the price of the used car. Happiness guaranteed!</p>
    <div class="cards" data-aos="fade-up" data-aos-duration="3000">

        <div class="feature center-align">
            <i class="fas fa-brain fa-3x icon"></i>
            <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Artificial Intelligence</h5>
            <p style="color:#323450; font-size: 19px;">We utilize Artificial Intelligence to make car price predictions.</p>
        </div>

        <div class="feature center-align ">
            <i class="fas fa-lock fa-3x icon"></i>
            <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Security</h5>
            <p style="color:#323450; font-size: 19px;"> Highly secure against any kind of Web attacks. Security is our top concern.</p>
        </div>

        <div class="feature center-align ">
            <i class="material-icons icon" style="font-size:50px;">timelapse</i>
            <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Speed</h5>
            <p style="color:#323450; font-size: 19px;"> Speed is what matters we are using Node.js at the backend. NgCars can predict cars price in few seconds.</p>
        </div>
        <div class="feature center-align">
            <i class="fas fa-check-circle fa-3x icon"></i>
            <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Accuracy</h5>
            <p style="color:#323450; font-size: 19px;">NgCars can predict 90-96% accurate prices of the used cars acccording to the market.</p>
        </div>

        <div class="feature center-align ">
            <i class="fas fa-car fa-3x icon"></i>
            <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Brands</h5>
            <p style="color:#323450; font-size: 19px;">NgCars cars can predict the price of all the major brands in pakistan.</p>
        </div>

        <div class="feature center-align ">
            <i class="fas fa-universal-access fa-3x icon"></i>
            <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Users</h5>
            <p style="color:#323450; font-size: 19px;">This application is helpful for both the users either seller or buyer.</p>
        </div>

    </div>
</div>

<section class="team" data-aos="fade-up" data-aos-duration="3000">
    <h3 class="center-align" style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif; padding-top:3rem;">Our Team</h3>
    <p class="center-align" style="color:#323450; font-size: 19px; margin-bottom: 2rem;">Stop wasting time and money designing and managing a
        <br>website that doesn’t get results. Happiness guaranteed!</p>
    <div class="teamMember" style="margin:0 7rem">
        <div class="row" data-aos="fade-up" data-aos-duration="3000">
            <div class="col s12 m4">
                <div class="card transparent">
                    <div class="card-image">
                        <img src="../../assets/fahdi.jpg" class="responsive-img hover-effect">
                    </div>
                    <div class="card-content">
                        <h5 class="center-align" style="color:#323450;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">Fahad Qayyum</h5>
                        <p class="center-align">MEAN Stack Developer</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card transparent">
                    <div class="card-image">
                        <img src="../../assets/faizi.jpg" class="responsive-img hover-effect">
                    </div>
                    <div class="card-content">
                        <h5 class="center-align" style="color:#323450;font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;">Faizan Shabbir</h5>
                        <p class="center-align">MERN Stack Developer</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card transparent">
                    <div class="card-image">
                        <img src="../../assets/rana1.jpeg" class="responsive-img hover-effect">
                    </div>
                    <div class="card-content">
                        <h5 class="center-align" style="color:#323450;font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;">Muzammil Younus</h5>
                        <p class="center-align">.Net Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mission" data-aos="fade-up" data-aos-duration="3000">
    <h3 class="center-align" style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif; padding-top:3rem;">Our Mission</h3>
    <p class="center-align" style="color:#323450; font-size: 19px;">Our mission is to enable users to preidct the price
        <br>of the used cars according to the market.</p>
</div>