<div class="forgot-container">
    <div class="forgot">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="container" *ngIf="!isLoading">
            <div class="row">
                <div class="col m6" style="margin-top:3rem">
                    <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight:bold">Recover Password</h4>
                    <p>Don't worry, happens to the best of us.</p>

                    <form (ngSubmit)="onForgotPassword(f)" #f="ngForm">

                        <div class="input-field col s12 " style="margin-left:0">
                            <i class="material-icons prefix icon">email</i>
                            <input id="email" type="email" class="validate" name="email" ngModel required email #email="ngModel">
                            <label for="email">Enter Your Email</label>
                            <span style="font-weight:bold" *ngIf="email.invalid && (email.dirty || email.touched)">Please enter valid email</span>
                        </div>

                        <button class="button hoverable waves-effect " [disabled]="!f.valid">Send Me Email</button>
                    </form>

                </div>
                <div class="col m6">

                    <img src="../../assets/forgot.svg" alt="OOps" style="margin-left: 5rem;" style="margin-top:2rem" width="350px" height="400px">
                </div>
            </div>
        </div>
    </div>
</div>